---
const year = new Date().getFullYear();
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Telescope Test</title>
  </head>
  <body>
    <!-- Starfield Background -->
    <div class="stars" id="stars">
      <div
        class="star"
        style="left: 52.1948%; top: 51.4122%; animation-delay: 0.942107s;"
      >
      </div><div
        class="star"
        style="left: 25.4644%; top: 47.3669%; animation-delay: 1.75039s;"
      >
      </div><div
        class="star"
        style="left: 75.7129%; top: 25.6184%; animation-delay: 1.70931s;"
      >
      </div><div
        class="star"
        style="left: 25.8954%; top: 71.0624%; animation-delay: 2.19627s;"
      >
      </div><div
        class="star"
        style="left: 53.107%; top: 73.0025%; animation-delay: 0.715212s;"
      >
      </div><div
        class="star"
        style="left: 99.7775%; top: 79.047%; animation-delay: 2.73457s;"
      >
      </div><div
        class="star"
        style="left: 68.7259%; top: 67.9719%; animation-delay: 1.22229s;"
      >
      </div><div
        class="star"
        style="left: 75.8937%; top: 6.38237%; animation-delay: 1.27602s;"
      >
      </div><div
        class="star"
        style="left: 16.9056%; top: 81.0543%; animation-delay: 2.23735s;"
      >
      </div><div
        class="star"
        style="left: 27.1094%; top: 99.7033%; animation-delay: 0.553673s;"
      >
      </div><div
        class="star"
        style="left: 84.5954%; top: 48.7364%; animation-delay: 2.31034s;"
      >
      </div><div
        class="star"
        style="left: 93.3384%; top: 46.6411%; animation-delay: 1.52511s;"
      >
      </div><div
        class="star"
        style="left: 93.6947%; top: 89.5164%; animation-delay: 0.257735s;"
      >
      </div><div
        class="star"
        style="left: 74.2091%; top: 81.101%; animation-delay: 2.29961s;"
      >
      </div><div
        class="star"
        style="left: 21.0491%; top: 55.9828%; animation-delay: 0.43233s;"
      >
      </div><div
        class="star"
        style="left: 15.1259%; top: 96.9194%; animation-delay: 2.18031s;"
      >
      </div><div
        class="star"
        style="left: 99.9572%; top: 6.69607%; animation-delay: 0.534392s;"
      >
      </div><div
        class="star"
        style="left: 86.3235%; top: 30.5824%; animation-delay: 1.0261s;"
      >
      </div><div
        class="star"
        style="left: 43.9768%; top: 81.2675%; animation-delay: 2.36548s;"
      >
      </div><div
        class="star"
        style="left: 92.4277%; top: 44.431%; animation-delay: 2.03618s;"
      >
      </div><div
        class="star"
        style="left: 72.335%; top: 34.2685%; animation-delay: 0.0309555s;"
      >
      </div><div
        class="star"
        style="left: 94.3672%; top: 81.983%; animation-delay: 2.50683s;"
      >
      </div><div
        class="star"
        style="left: 60.7838%; top: 72.3396%; animation-delay: 2.45609s;"
      >
      </div><div
        class="star"
        style="left: 40.0333%; top: 21.0632%; animation-delay: 1.26146s;"
      >
      </div><div
        class="star"
        style="left: 56.8177%; top: 41.8309%; animation-delay: 1.21937s;"
      >
      </div><div
        class="star"
        style="left: 45.4162%; top: 99.9396%; animation-delay: 0.500652s;"
      >
      </div><div
        class="star"
        style="left: 77.949%; top: 17.2648%; animation-delay: 1.42238s;"
      >
      </div><div
        class="star"
        style="left: 24.4087%; top: 11.3925%; animation-delay: 0.341375s;"
      >
      </div><div
        class="star"
        style="left: 7.60335%; top: 3.54482%; animation-delay: 0.511765s;"
      >
      </div><div
        class="star"
        style="left: 91.7492%; top: 23.482%; animation-delay: 0.737796s;"
      >
      </div><div
        class="star"
        style="left: 70.1667%; top: 11.6105%; animation-delay: 1.57915s;"
      >
      </div><div
        class="star"
        style="left: 78.9449%; top: 38.5906%; animation-delay: 2.61768s;"
      >
      </div><div
        class="star"
        style="left: 10.5974%; top: 61.1622%; animation-delay: 1.14697s;"
      >
      </div><div
        class="star"
        style="left: 71.0291%; top: 40.2331%; animation-delay: 0.792688s;"
      >
      </div><div
        class="star"
        style="left: 62.0177%; top: 87.3214%; animation-delay: 2.60203s;"
      >
      </div><div
        class="star"
        style="left: 54.3481%; top: 67.9565%; animation-delay: 2.64688s;"
      >
      </div><div
        class="star"
        style="left: 35.3149%; top: 90.5867%; animation-delay: 2.70212s;"
      >
      </div><div
        class="star"
        style="left: 95.7551%; top: 8.28912%; animation-delay: 0.216066s;"
      >
      </div><div
        class="star"
        style="left: 59.125%; top: 51.6128%; animation-delay: 2.44567s;"
      >
      </div><div
        class="star"
        style="left: 66.5787%; top: 44.7053%; animation-delay: 1.88256s;"
      >
      </div><div
        class="star"
        style="left: 56.1354%; top: 72.3102%; animation-delay: 0.329238s;"
      >
      </div><div
        class="star"
        style="left: 96.9771%; top: 91.1453%; animation-delay: 1.59819s;"
      >
      </div><div
        class="star"
        style="left: 57.5719%; top: 2.60938%; animation-delay: 2.10044s;"
      >
      </div><div
        class="star"
        style="left: 95.3359%; top: 80.4313%; animation-delay: 2.18069s;"
      >
      </div><div
        class="star"
        style="left: 82.2063%; top: 44.6037%; animation-delay: 1.33203s;"
      >
      </div><div
        class="star"
        style="left: 3.11222%; top: 55.676%; animation-delay: 0.344218s;"
      >
      </div><div
        class="star"
        style="left: 40.0184%; top: 73.3634%; animation-delay: 2.05461s;"
      >
      </div><div
        class="star"
        style="left: 98.9019%; top: 93.2717%; animation-delay: 1.16643s;"
      >
      </div><div
        class="star"
        style="left: 90.6348%; top: 21.4051%; animation-delay: 1.79931s;"
      >
      </div><div
        class="star"
        style="left: 91.1332%; top: 2.77385%; animation-delay: 2.1131s;"
      >
      </div><div
        class="star"
        style="left: 89.6185%; top: 58.4938%; animation-delay: 2.73153s;"
      >
      </div><div
        class="star"
        style="left: 90.693%; top: 82.7584%; animation-delay: 0.0378604s;"
      >
      </div><div
        class="star"
        style="left: 70.2781%; top: 21.7051%; animation-delay: 2.88805s;"
      >
      </div><div
        class="star"
        style="left: 34.3058%; top: 58.7823%; animation-delay: 2.85962s;"
      >
      </div><div
        class="star"
        style="left: 97.1513%; top: 13.5708%; animation-delay: 2.96209s;"
      >
      </div><div
        class="star"
        style="left: 64.9464%; top: 21.7993%; animation-delay: 0.214062s;"
      >
      </div><div
        class="star"
        style="left: 4.5555%; top: 74.4721%; animation-delay: 2.40918s;"
      >
      </div><div
        class="star"
        style="left: 98.0396%; top: 95.0565%; animation-delay: 2.86492s;"
      >
      </div><div
        class="star"
        style="left: 76.8268%; top: 9.03135%; animation-delay: 2.34043s;"
      >
      </div><div
        class="star"
        style="left: 87.3708%; top: 65.8318%; animation-delay: 1.12587s;"
      >
      </div><div
        class="star"
        style="left: 55.1091%; top: 60.0512%; animation-delay: 1.3739s;"
      >
      </div><div
        class="star"
        style="left: 76.3689%; top: 20.0438%; animation-delay: 1.19096s;"
      >
      </div><div
        class="star"
        style="left: 27.831%; top: 67.0696%; animation-delay: 2.49281s;"
      >
      </div><div
        class="star"
        style="left: 90.1284%; top: 20.3334%; animation-delay: 2.00497s;"
      >
      </div><div
        class="star"
        style="left: 81.0171%; top: 72.8854%; animation-delay: 0.909913s;"
      >
      </div><div
        class="star"
        style="left: 16.9474%; top: 59.9665%; animation-delay: 2.76866s;"
      >
      </div><div
        class="star"
        style="left: 46.8664%; top: 90.1849%; animation-delay: 2.13031s;"
      >
      </div><div
        class="star"
        style="left: 12.7692%; top: 43.744%; animation-delay: 1.07684s;"
      >
      </div><div
        class="star"
        style="left: 9.49415%; top: 47.3079%; animation-delay: 1.73074s;"
      >
      </div><div
        class="star"
        style="left: 86.4896%; top: 58.2809%; animation-delay: 2.05273s;"
      >
      </div><div
        class="star"
        style="left: 32.4206%; top: 29.7762%; animation-delay: 2.66262s;"
      >
      </div><div
        class="star"
        style="left: 95.0848%; top: 99.2646%; animation-delay: 1.83058s;"
      >
      </div><div
        class="star"
        style="left: 91.0224%; top: 86.9672%; animation-delay: 2.89582s;"
      >
      </div><div
        class="star"
        style="left: 36.0056%; top: 53.257%; animation-delay: 0.191127s;"
      >
      </div><div
        class="star"
        style="left: 21.7642%; top: 9.66365%; animation-delay: 1.69874s;"
      >
      </div><div
        class="star"
        style="left: 40.352%; top: 94.7725%; animation-delay: 1.37233s;"
      >
      </div><div
        class="star"
        style="left: 41.5225%; top: 24.8376%; animation-delay: 1.18356s;"
      >
      </div><div
        class="star"
        style="left: 72.194%; top: 60.5736%; animation-delay: 0.116012s;"
      >
      </div><div
        class="star"
        style="left: 26.3806%; top: 77.9581%; animation-delay: 0.638044s;"
      >
      </div><div
        class="star"
        style="left: 63.7318%; top: 72.7239%; animation-delay: 2.66117s;"
      >
      </div><div
        class="star"
        style="left: 12.645%; top: 24.7346%; animation-delay: 1.6161s;"
      >
      </div><div
        class="star"
        style="left: 77.0242%; top: 15.3052%; animation-delay: 1.61693s;"
      >
      </div><div
        class="star"
        style="left: 10.0819%; top: 91.0717%; animation-delay: 0.986913s;"
      >
      </div><div
        class="star"
        style="left: 27.7655%; top: 11.7078%; animation-delay: 1.26358s;"
      >
      </div><div
        class="star"
        style="left: 27.5773%; top: 46.6068%; animation-delay: 2.74907s;"
      >
      </div><div
        class="star"
        style="left: 87.7998%; top: 87.4566%; animation-delay: 1.3826s;"
      >
      </div><div
        class="star"
        style="left: 42.5082%; top: 71.0178%; animation-delay: 2.15079s;"
      >
      </div><div
        class="star"
        style="left: 56.7067%; top: 52.2686%; animation-delay: 1.28742s;"
      >
      </div><div
        class="star"
        style="left: 53.0198%; top: 45.532%; animation-delay: 2.72539s;"
      >
      </div><div
        class="star"
        style="left: 1.3884%; top: 51.1609%; animation-delay: 2.53344s;"
      >
      </div><div
        class="star"
        style="left: 95.8494%; top: 97.2545%; animation-delay: 0.204099s;"
      >
      </div><div
        class="star"
        style="left: 0.370885%; top: 19.8492%; animation-delay: 2.76678s;"
      >
      </div><div
        class="star"
        style="left: 47.1715%; top: 55.6864%; animation-delay: 2.54s;"
      >
      </div><div
        class="star"
        style="left: 58.3718%; top: 87.041%; animation-delay: 0.989718s;"
      >
      </div><div
        class="star"
        style="left: 83.1297%; top: 31.8743%; animation-delay: 0.507255s;"
      >
      </div><div
        class="star"
        style="left: 74.1874%; top: 71.4888%; animation-delay: 2.87578s;"
      >
      </div><div
        class="star"
        style="left: 35.487%; top: 9.64956%; animation-delay: 0.790919s;"
      >
      </div><div
        class="star"
        style="left: 19.0507%; top: 1.57757%; animation-delay: 1.33443s;"
      >
      </div><div
        class="star"
        style="left: 40.8786%; top: 78.735%; animation-delay: 1.77964s;"
      >
      </div><div
        class="star"
        style="left: 5.35164%; top: 42.1856%; animation-delay: 2.67296s;"
      >
      </div>
    </div>

    <!-- Hero Section -->
    <div class="hero" id="hero">
      <div class="hero-content">
        <h1 class="logo">
          <span class="logo-cloudflare">CLOUDFLARE</span>
          <span class="logo-telescope">TELESCOPE</span>
        </h1>
        <p class="tagline">A cross-browser performance testing agent</p>
        <p class="subtitle">
          Diagnostic performance testing across Chrome, Firefox, Safari, and
          Edge. Built by Cloudflare for developers who demand precision.
        </p>

        <div class="hero-buttons">
          <a
            href="https://github.com/cloudflare/telescope"
            target="_blank"
            class="btn btn-primary"
          >
            <svg width="24" height="24" viewBox="0 0 24 24" fill="currentColor">
              <path
                d="M12 0c-6.626 0-12 5.373-12 12 0 5.302 3.438 9.8 8.207 11.387.599.111.793-.261.793-.577v-2.234c-3.338.726-4.033-1.416-4.033-1.416-.546-1.387-1.333-1.756-1.333-1.756-1.089-.745.083-.729.083-.729 1.205.084 1.839 1.237 1.839 1.237 1.07 1.834 2.807 1.304 3.492.997.107-.775.418-1.305.762-1.604-2.665-.305-5.467-1.334-5.467-5.931 0-1.311.469-2.381 1.236-3.221-.124-.303-.535-1.524.117-3.176 0 0 1.008-.322 3.301 1.23.957-.266 1.983-.399 3.003-.404 1.02.005 2.047.138 3.006.404 2.291-1.552 3.297-1.23 3.297-1.23.653 1.653.242 2.874.118 3.176.77.84 1.235 1.911 1.235 3.221 0 4.609-2.807 5.624-5.479 5.921.43.372.823 1.102.823 2.222v3.293c0 .319.192.694.801.576 4.765-1.589 8.199-6.086 8.199-11.386 0-6.627-5.373-12-12-12z"
              ></path>
            </svg>
            View on GitHub
          </a>
          <a
            href="https://telescopetest.io/#how-to-run"
            class="btn btn-secondary"
          >
            <svg width="24" height="24" viewBox="0 0 24 24" fill="currentColor">
              <path
                d="M13 7h-2v4H7v2h4v4h2v-4h4v-2h-4V7zm-1-5C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm0 18c-4.41 0-8-3.59-8-8s3.59-8 8-8 8 3.59 8 8-3.59 8-8 8z"
              ></path>
            </svg>
            Get Started
          </a>
        </div>
      </div>

      <div
        class="scroll-indicator"
        onclick="document.querySelector('.container').scrollIntoView({behavior: 'smooth'})"
      >
        <svg fill="currentColor" viewBox="0 0 24 24">
          <path
            d="M12 4l-1.41 1.41L16.17 11H4v2h12.17l-5.58 5.59L12 20l8-8-8-8z"
            transform="rotate(90 12 12)"></path>
        </svg>
      </div>
    </div>

    <div class="container">
      <!-- Features Overview -->
      <section data-emoji="✨">
        <h2>Why Cloudflare Telescope?</h2>
        <div class="feature-grid">
          <div class="feature-card">
            <span class="feature-icon">🌐</span>
            <h3 class="feature-title">Cross-Browser Testing</h3>
            <p class="feature-desc">
              Test performance across Chrome, Firefox, Safari, Edge, and their
              variants with a single command.
            </p>
          </div>
          <div class="feature-card">
            <span class="feature-icon">📊</span>
            <h3 class="feature-title">Comprehensive Metrics</h3>
            <p class="feature-desc">
              Collect detailed performance data including HAR files,
              screenshots, videos, and timing metrics.
            </p>
          </div>
          <div class="feature-card">
            <span class="feature-icon">⚡</span>
            <h3 class="feature-title">Easy Setup</h3>
            <p class="feature-desc">
              Run with npx - no manual installation. Dependencies install
              automatically on first run.
            </p>
          </div>
          <div class="feature-card">
            <span class="feature-icon">💎</span>
            <h3 class="feature-title">Open Source</h3>
            <p class="feature-desc">
              Free and open source under the <a
                href="https://github.com/cloudflare/telescope?tab=License-1-ov-file"
                target="_blank"
                style="color: var(--gold); text-decoration: underline; font-weight: 700;"
                >Apache 2.0 License</a
              >. Contributions welcome from the community.
            </p>
          </div>
        </div>
      </section>

      <!-- How to Run Section -->
      <section id="how-to-run" data-emoji="🚀">
        <h2>How to Run a Test</h2>
        <p>
          Get started with Cloudflare Telescope by cloning the repository and
          running your first test.
        </p>

        <h3>Step 1: Clone the Repository</h3>
        <div class="code-block">
          <button class="copy-button" onclick="copyCode(this)">Copy</button>
          <pre><code>git clone https://github.com/cloudflare/telescope.git
cd telescope</code></pre>
        </div>

        <h3>Step 2: Install Dependencies</h3>
        <div class="code-block">
          <button class="copy-button" onclick="copyCode(this)">Copy</button>
          <pre><code>npm install</code></pre>
        </div>
        <p style="margin-top: 10px;">
          <em
            >This will install Playwright and all required browser binaries
            (~700MB). This may take 2-5 minutes on first install.</em
          >
        </p>
        <p style="margin-top: 10px;">
          For detailed installation requirements and troubleshooting, see the <a
            href="https://github.com/cloudflare/telescope?tab=readme-ov-file#installation"
            target="_blank"
            style="color: var(--orange); text-decoration: none; font-weight: 600;"
            >official installation guide</a
          >.
        </p>

        <h3>Step 3: Run Your First Test</h3>
        <div class="code-block">
          <button class="copy-button" onclick="copyCode(this)">Copy</button>
          <pre><code>npx . -u https://example.com</code></pre>
        </div>

        <h3>With Custom Parameters</h3>
        <div class="code-block">
          <button class="copy-button" onclick="copyCode(this)">Copy</button>
          <pre><code>npx . -u https://example.com \
  -b firefox \
  --width 1920 \
  --height 1080 \
  --timeout 50000</code></pre>
        </div>

        <h3>Advanced Example with Network Throttling</h3>
        <div class="code-block">
          <button class="copy-button" onclick="copyCode(this)">Copy</button>
          <pre><code>npx . -u https://example.com \
  -b chrome \
  --connectionType 3g \
  --cpuThrottle 4 \
  --blockDomains ads.example.com,tracker.example.com</code></pre>
        </div>

        <h3>Testing with Custom Headers and Cookies</h3>
        <div class="code-block">
          <button class="copy-button" onclick="copyCode(this)">Copy</button>
          <pre><code>npx . -u https://example.com \
  -b edge \
  -h '&lcub;"Authorization": "Bearer token123"}' \
  -c '&lcub;"session": "abc123", "userId": "456"}'</code></pre>
        </div>
      </section>

      <!-- Parameters Section -->
      <section id="parameters" data-emoji="⚙️">
        <h2>Configuration Parameters</h2>
        <p>
          Cloudflare Telescope provides extensive configuration options to
          simulate various testing scenarios.
        </p>

        <div class="params-grid" id="paramsGrid">
          <div class="param-card">
            <div class="param-name">-u, --url &lt;url&gt;</div>
            <div class="param-desc">
              URL to run tests against. This is the target website you want to
              analyze.
            </div>
          </div>

          <div class="param-card">
            <div class="param-name">-b, --browser &lt;browser&gt;</div>
            <div class="param-desc">
              Browser to test against. Options: chrome, chrome-beta, canary,
              edge, safari, firefox (default: chrome)
            </div>
          </div>

          <div class="param-card">
            <div class="param-name">-h, --headers &lt;object&gt;</div>
            <div class="param-desc">
              Custom headers to apply to requests. Useful for authentication or
              custom API testing.
            </div>
          </div>

          <div class="param-card">
            <div class="param-name">-c, --cookies &lt;object&gt;</div>
            <div class="param-desc">
              Custom cookies to apply. Test authenticated pages or user-specific
              scenarios.
            </div>
          </div>

          <div class="param-card">
            <div class="param-name">--connectionType &lt;string&gt;</div>
            <div class="param-desc">
              Network throttling. Options: cable, dls, 4g, 3g, 3gfast, 3gslow,
              2g, fios (default: false)
            </div>
          </div>

          <div class="param-card">
            <div class="param-name">--cpuThrottle &lt;int&gt;</div>
            <div class="param-desc">
              CPU throttling factor to simulate slower devices. Higher values =
              more throttling.
            </div>
          </div>

          <div class="param-card">
            <div class="param-name">--width / --height &lt;int&gt;</div>
            <div class="param-desc">
              Viewport dimensions in pixels (default: 1366x768). Test responsive
              designs.
            </div>
          </div>

          <div class="param-card">
            <div class="param-name">--blockDomains &lt;domains...&gt;</div>
            <div class="param-desc">
              Block specific domains during testing. Useful for excluding ads or
              analytics.
            </div>
          </div>

          <div class="param-card">
            <div class="param-name">--block &lt;substrings...&gt;</div>
            <div class="param-desc">
              Block URLs based on substring match. More granular control than
              domain blocking.
            </div>
          </div>

          <div class="param-card">
            <div class="param-name">--disableJS</div>
            <div class="param-desc">
              Disable JavaScript execution. Test how your site performs without
              JS.
            </div>
          </div>

          <div class="param-card">
            <div class="param-name">--timeout &lt;int&gt;</div>
            <div class="param-desc">
              Maximum test duration in milliseconds (default: 30000). Prevent
              hanging tests.
            </div>
          </div>

          <div class="param-card">
            <div class="param-name">--html</div>
            <div class="param-desc">
              Generate an HTML report of the test results for easy viewing.
            </div>
          </div>

          <div class="param-card">
            <div class="param-name">--auth &lt;object&gt;</div>
            <div class="param-desc">
              Basic HTTP authentication credentials with username and password.
            </div>
          </div>

          <div class="param-card">
            <div class="param-name">--frameRate &lt;int&gt;</div>
            <div class="param-desc">
              Filmstrip frame rate in FPS (default: 1). Higher values = smoother
              filmstrips.
            </div>
          </div>

          <div class="param-card">
            <div class="param-name">-f, --flags &lt;string&gt;</div>
            <div class="param-desc">
              Comma-separated Chromium flags for advanced browser configuration.
            </div>
          </div>

          <div class="param-card">
            <div class="param-name">--firefoxPrefs &lt;object&gt;</div>
            <div class="param-desc">
              Firefox-specific user preferences (Firefox only).
            </div>
          </div>
        </div>
      </section>

      <!-- Test Results Section -->
      <section id="test-results" data-emoji="📊">
        <h2>What Telescope Collects</h2>
        <p>
          Each test generates comprehensive performance data stored in a
          dedicated results folder with unique identifiers.
        </p>

        <div class="metrics-list" id="metricsList">
          <div class="metric-item">
            <div class="metric-icon">🎬</div>
            <div class="metric-title">Video Recording</div>
            <div class="metric-description">
              Complete video showing page load progression from start to finish,
              perfect for visual analysis.
            </div>
          </div>

          <div class="metric-item">
            <div class="metric-icon">📸</div>
            <div class="metric-title">Screenshots</div>
            <div class="metric-description">
              Final page screenshot and filmstrip collection for frame-by-frame
              load analysis.
            </div>
          </div>

          <div class="metric-item">
            <div class="metric-icon">📈</div>
            <div class="metric-title">Performance Metrics</div>
            <div class="metric-description">
              Comprehensive timing metrics including FCP, LCP, TTI, and CLS
              collected from the browser.
            </div>
          </div>

          <div class="metric-item">
            <div class="metric-icon">🌐</div>
            <div class="metric-title">HAR File</div>
            <div class="metric-description">
              Complete network waterfall data in HAR format for detailed request
              analysis.
            </div>
          </div>

          <div class="metric-item">
            <div class="metric-icon">⚡</div>
            <div class="metric-title">Resource Timing</div>
            <div class="metric-description">
              Detailed Resource Timing API data for every asset loaded on the
              page.
            </div>
          </div>

          <div class="metric-item">
            <div class="metric-icon">🔍</div>
            <div class="metric-title">Console Output</div>
            <div class="metric-description">
              All console messages, warnings, and JavaScript errors captured
              during page load.
            </div>
          </div>
        </div>

        <h3>Results Structure</h3>
        <div class="code-block">
          <button class="copy-button" onclick="copyCode(this)">Copy</button>
          <pre><code>/results/
  └── 2025-10-26_unique-id-123/
      ├── console.json        # Console logs and errors
      ├── metrics.json        # Performance metrics
      ├── pageload.har        # Network waterfall
      ├── resources.json      # Resource timing data
      ├── screenshot.png      # Final screenshot
      ├── video.mp4          # Page load video
      └── /filmstrip/        # Frame-by-frame screenshots</code></pre>
        </div>
      </section>

      <!-- Contributors Section -->
      <section id="contributors" data-emoji="👥">
        <h2>Leading Contributors</h2>
        <p style="text-align: center; font-size: 1.2rem; margin-bottom: 40px;">
          Cloudflare Telescope is built and maintained by talented developers
          from around the world.
        </p>

        <div style="text-align: center; margin: 50px 0;">
          <a
            href="https://github.com/cloudflare/telescope/graphs/contributors"
            target="_blank"
            class="btn btn-primary"
            style="display: inline-flex;"
          >
            <svg width="24" height="24" viewBox="0 0 24 24" fill="currentColor">
              <path
                d="M12 0c-6.626 0-12 5.373-12 12 0 5.302 3.438 9.8 8.207 11.387.599.111.793-.261.793-.577v-2.234c-3.338.726-4.033-1.416-4.033-1.416-.546-1.387-1.333-1.756-1.333-1.756-1.089-.745.083-.729.083-.729 1.205.084 1.839 1.237 1.839 1.237 1.07 1.834 2.807 1.304 3.492.997.107-.775.418-1.305.762-1.604-2.665-.305-5.467-1.334-5.467-5.931 0-1.311.469-2.381 1.236-3.221-.124-.303-.535-1.524.117-3.176 0 0 1.008-.322 3.301 1.23.957-.266 1.983-.399 3.003-.404 1.02.005 2.047.138 3.006.404 2.291-1.552 3.297-1.23 3.297-1.23.653 1.653.242 2.874.118 3.176.77.84 1.235 1.911 1.235 3.221 0 4.609-2.807 5.624-5.479 5.921.43.372.823 1.102.823 2.222v3.293c0 .319.192.694.801.576 4.765-1.589 8.199-6.086 8.199-11.386 0-6.627-5.373-12-12-12z"
              ></path>
            </svg>
            View All Contributors on GitHub
          </a>
        </div>

        <div
          style="background: rgba(26, 11, 46, 0.8); border-radius: 20px; padding: 40px; margin-top: 50px; border: 2px solid var(--magenta);"
        >
          <h3
            style="text-align: center; color: var(--gold); margin-bottom: 30px;"
          >
            Want to Contribute?
          </h3>
          <p
            style="text-align: center; font-size: 1.1rem; line-height: 1.8; max-width: 800px; margin: 0 auto;"
          >
            Telescope is an open-source project and welcomes contributions from
            the community. Whether it's bug fixes, new features, documentation
            improvements, or testing across different platforms - all
            contributions are appreciated!
          </p>
          <div style="text-align: center; margin-top: 30px;">
            <a
              href="https://github.com/cloudflare/telescope"
              target="_blank"
              class="btn btn-secondary"
            >
              <svg
                width="24"
                height="24"
                viewBox="0 0 24 24"
                fill="currentColor"
              >
                <path
                  d="M12 0c-6.626 0-12 5.373-12 12 0 5.302 3.438 9.8 8.207 11.387.599.111.793-.261.793-.577v-2.234c-3.338.726-4.033-1.416-4.033-1.416-.546-1.387-1.333-1.756-1.333-1.756-1.089-.745.083-.729.083-.729 1.205.084 1.839 1.237 1.839 1.237 1.07 1.834 2.807 1.304 3.492.997.107-.775.418-1.305.762-1.604-2.665-.305-5.467-1.334-5.467-5.931 0-1.311.469-2.381 1.236-3.221-.124-.303-.535-1.524.117-3.176 0 0 1.008-.322 3.301 1.23.957-.266 1.983-.399 3.003-.404 1.02.005 2.047.138 3.006.404 2.291-1.552 3.297-1.23 3.297-1.23.653 1.653.242 2.874.118 3.176.77.84 1.235 1.911 1.235 3.221 0 4.609-2.807 5.624-5.479 5.921.43.372.823 1.102.823 2.222v3.293c0 .319.192.694.801.576 4.765-1.589 8.199-6.086 8.199-11.386 0-6.627-5.373-12-12-12z"
                ></path>
              </svg>
              Contribute on GitHub
            </a>
          </div>
        </div>
      </section>

      <!-- Footer -->
      <footer>
        <p>
          Built with ❤️ by <a href="https://www.cloudflare.com/" target="_blank"
            >Cloudflare</a
          >
        </p>
        <p>
          © 2025 - {year} Cloudflare Telescope Project
        </p>
      </footer>
    </div>

    <!-- Back to Top Button -->
    <div
      class="back-to-top"
      id="backToTop"
      onclick="window.scrollTo({top: 0, behavior: 'smooth'})"
    >
      ↑
    </div>

    <script is:inline>
      // Generate starfield
      function createStars() {
        const starsContainer = document.getElementById('stars');
        const starCount = 100;

        for (let i = 0; i < starCount; i++) {
          const star = document.createElement('div');
          star.className = 'star';
          star.style.left = Math.random() * 100 + '%';
          star.style.top = Math.random() * 100 + '%';
          star.style.animationDelay = Math.random() * 3 + 's';
          starsContainer.appendChild(star);
        }
      }

      // Create occasional shooting stars
      function createShootingStar() {
        const star = document.createElement('div');
        star.className = 'shooting-star';
        star.style.left = Math.random() * 50 + '%';
        star.style.top = Math.random() * 50 + '%';
        document.body.appendChild(star);

        setTimeout(() => star.remove(), 1500);
      }

      // Random shooting stars
      setInterval(() => {
        if (Math.random() > 0.95) {
          createShootingStar();
        }
      }, 2000);

      // Smooth scroll for anchor links
      document.querySelectorAll('a[href^="#"]').forEach(anchor => {
        anchor.addEventListener('click', function (e) {
          e.preventDefault();
          const target = document.querySelector(this.getAttribute('href'));
          if (target) {
            target.scrollIntoView({
              behavior: 'smooth',
              block: 'start',
            });
          }
        });
      });

      // Intersection Observer for scroll animations
      const observerOptions = {
        threshold: 0.1,
        rootMargin: '0px 0px -100px 0px',
      };

      const observer = new IntersectionObserver(entries => {
        entries.forEach((entry, index) => {
          if (entry.isIntersecting) {
            setTimeout(() => {
              entry.target.classList.add('visible');
            }, index * 100);
          }
        });
      }, observerOptions);

      // Observe sections
      document.querySelectorAll('section').forEach(section => {
        observer.observe(section);
      });

      // Observe param cards with stagger
      const paramCards = document.querySelectorAll('.param-card');
      paramCards.forEach((card, index) => {
        const cardObserver = new IntersectionObserver(entries => {
          entries.forEach(entry => {
            if (entry.isIntersecting) {
              setTimeout(() => {
                entry.target.classList.add('visible');
              }, index * 50);
            }
          });
        }, observerOptions);
        cardObserver.observe(card);
      });

      // Observe metric items
      const metricItems = document.querySelectorAll('.metric-item');
      metricItems.forEach((item, index) => {
        const metricObserver = new IntersectionObserver(entries => {
          entries.forEach(entry => {
            if (entry.isIntersecting) {
              setTimeout(() => {
                entry.target.classList.add('visible');
              }, index * 100);
            }
          });
        }, observerOptions);
        metricObserver.observe(item);
      });

      // Back to top button visibility
      window.addEventListener('scroll', () => {
        const backToTop = document.getElementById('backToTop');
        if (window.scrollY > 500) {
          backToTop.classList.add('visible');
        } else {
          backToTop.classList.remove('visible');
        }

        // Parallax effect on hero
        const hero = document.getElementById('hero');
        if (window.scrollY > 100) {
          hero.classList.add('scrolled');
        } else {
          hero.classList.remove('scrolled');
        }
      });

      // Copy code functionality
      function copyCode(button) {
        const codeBlock = button.nextElementSibling;
        const code = codeBlock.textContent;

        navigator.clipboard.writeText(code).then(() => {
          button.textContent = 'Copied!';
          button.classList.add('copied');

          setTimeout(() => {
            button.textContent = 'Copy';
            button.classList.remove('copied');
          }, 2000);
        });
      }

      // Mouse trail effect (subtle stars)
      let mouseX = 0,
        mouseY = 0;
      document.addEventListener('mousemove', e => {
        mouseX = e.clientX;
        mouseY = e.clientY;

        // Create subtle sparkle occasionally
        if (Math.random() > 0.98) {
          createSparkle(mouseX, mouseY);
        }
      });

      function createSparkle(x, y) {
        const sparkle = document.createElement('div');
        sparkle.style.position = 'fixed';
        sparkle.style.left = x + 'px';
        sparkle.style.top = y + 'px';
        sparkle.style.width = '4px';
        sparkle.style.height = '4px';
        sparkle.style.background = 'white';
        sparkle.style.borderRadius = '50%';
        sparkle.style.pointerEvents = 'none';
        sparkle.style.zIndex = '9999';
        sparkle.style.animation = 'sparkleAnim 0.5s ease-out forwards';
        document.body.appendChild(sparkle);

        setTimeout(() => sparkle.remove(), 500);
      }

      // Add sparkle animation
      const style = document.createElement('style');
      style.textContent = `
            @keyframes sparkleAnim {
                0% { transform: scale(0); opacity: 1; }
                100% { transform: scale(2); opacity: 0; }
            }
        `;
      document.head.appendChild(style);

      // Initialize
      createStars();
    </script>
  </body>
</html>
