---
import Layout from '../layouts/Layout.astro';
import TopNav from '../components/TopNav.astro';

export const prerender = false;
---

<Layout title="Upload Test Results - Telescope">
  <TopNav active="upload" />
  <section class="data-content">
    <h1>Upload Test Results</h1>
    <h2>
      Upload an existing test result as a ZIP file to view them in the UI.
    </h2>
  </section></Layout
>
